@layer defaultLayer, backgroundPink, backgroundGreen;

body {
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@layer defaultLayer {
  .contain {
    font-size: clamp(12px, 3vw, 40px);
    aspect-ratio: 1/1;
    background-color: #353535;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}

@layer backgroundGreen {
  div {
    background-color: green;
    aspect-ratio: 2/1;
  }
}

@layer backgroundPink {
  div {
    background-color: pink;
  }
}
