@use "variables" as *;

body {
  font-family: $chamber-font-primary;
  font-weight: 300;
}

h1,
.chamber-h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
}

h2,
.chamber-h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #D8D8D8;
}