$chamber-max-width: 1400px;
$chamber-color-black: #000;
$chamber-color-white: #ffffff;
$chamber-color-gray: #777;
$chamber-font-primary: 'open-sans', sans-serif;
$chamber-spacing-sm: 8px;
$chamber-spacing-md: 16px;
$chamber-spacing-lg: 32px;
$chamber-spacing-xl: 64px;